		<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<span class="fa fa-wrench"></span>
					<h2 class="theme-title">EG Wood and Steel Worx</h2>
					
					<a href="https://www.facebook.com/EGWoodSteel/"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; EG Wood and Steel Worx</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->




	<!-- Javascript Files -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="js/form-validator.min.js"></script>  
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
