	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main parallax-window" id="home" data-parallax="scroll" data-image-src="assets/bg1.jpg">
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 text-center">
					<h1 class="scaleReveal">
						EG Wood and Steel Worx 
					</h1>
					<h1><strong>The Clever Way</strong></h1>
					<hr class="bottomReveal">
					<p class="bottomReveal">Carports &amp Shading</p>
					<p class="bottomReveal">Gates &amp Fencing</p>
					<p class="bottomReveal">Security Bars &amp Doors</p>
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal">
							<span class="ion-mouse"></span><br>						
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->