<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Robyn Thomas" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>EG Wood and Steel Worx</title>	
	<!-- Royal Preloader CSS -->
	<link href="css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="js/parallax.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->

	<link href="css/bootstrap.min.css" rel="stylesheet">	
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/logoiconfont.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" title="main-css">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">
	<!-- font awesome -->
 	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
 

	
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">

